<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	
	<div class="toast fade show" th:each="indicateur : ${unsavedIndicateurs}">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-globe"></i> Avertissement!</strong>
            <small class="text-muted">non enregistré</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body" th:text="${indicateur}"> </div>
    </div>
    
</body>
</html>
