<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
	<input id="typeClassification_code" type="hidden" th:attr="value=${typeClassification.code}" >
	<div id="toast_area" style="height:5px;position:absolute;top: 0; right: 0;z-index:999">
		<div class="toast fade show" th:each="indicateur : ${unsavedIndicateurs}">
	        <div class="toast-header bg-danger" style="color:#fff">
	            <strong class="mr-auto"><i class="mdi mdi-alert"></i> Avertissement!</strong>
	            <small>non enregistré</small>
	            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
	        </div>
	        <div class="toast-body" th:text="${indicateur}"> </div>
	    </div>
	</div>
	
		<style>
		    label.invalid{font-size:12.8px;font-size:.8rem;font-weight:500;color:red!important;top:50px!important}label.invalid.active{-webkit-transform:translateY(0)!important;-ms-transform:translateY(0)!important;transform:translateY(0)!important}ul.stepper .wait-feedback{left:0;right:0;top:0;z-index:2;position:absolute;width:100%;height:100%;text-align:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}ul.stepper .step{position:relative;list-style:none}ul.stepper .step.feedbacking .step-new-content>:not(.wait-feedback){opacity:.1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"}ul.stepper .step:not(:last-of-type).active{margin-bottom:2.25rem}ul.stepper .step:before{position:absolute;top:.75rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400}ul.stepper .step.done:before,ul.stepper .step.wrong:before{font-family:'Font Awesome 5 free';font-weight:900}ul.stepper .step.active:before{background-color:#4285f4}ul.stepper .step.done:before{content:'\f00c';font-size:1rem;background-color:#00c851}ul.stepper .step.wrong:before{content:'\f071';font-size:1.1rem;background-color:#ff3547}ul.stepper>li:not(:last-of-type){margin-bottom:.625rem;-webkit-transition:margin-bottom .4s;-o-transition:margin-bottom .4s;transition:margin-bottom .4s}ul.stepper .step-title{margin:0 -1.3rem;cursor:pointer;padding:.9688rem 2.75rem 1.5rem 4rem;display:block}ul.stepper .step-title:after{content:attr(data-step-label);display:block;position:absolute;font-size:.8rem;color:#424242;font-weight:400}ul.stepper .step-title:hover{background-color:rgba(0,0,0,.06)}ul.stepper .step.active .step-title{font-weight:500}ul.stepper .step-new-content{position:relative;display:none;height:calc(100% - 132px);width:inherit;overflow:visible;margin-left:41px;margin-right:24px}ul.stepper>.step:not(:last-of-type):after{content:'';position:absolute;top:3.125rem;left:.8438rem;width:.0625rem;height:40%;height:calc(100% - 38px);background-color:rgba(0,0,0,.1);-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s}ul.stepper>.step.active:not(:last-child):after{height:93%;height:calc(100% - 12px)}ul.stepper>.step[data-last=true]{margin-bottom:0}ul.stepper>.step[data-last=true]:after{height:0;width:0}ul.stepper .step-actions{display:-webkit-box;-webkit-box-pack:start}ul.stepper .step-actions .btn-flat:not(:last-child),ul.stepper .step-actions .btn-large:not(:last-child),ul.stepper .step-actions .btn:not(:last-child){margin-right:.3125rem}ul.stepper .step-new-content .row{margin-bottom:.4375rem}ul.stepper .md-form label{left:.875rem}ul.stepper .md-form .validate{margin-bottom:0}@media only screen and (min-width:993px){ ul.stepper.horizontal{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;min-height:20rem;margin-left:-1.5rem;margin-right:-1.5rem;padding-left:1.5rem;padding-right:1.5rem;overflow:hidden} ul.stepper.horizontal:before{content:'';background-color:transparent;width:100%;min-height:5.25rem;position:absolute;left:-3px;-webkit-border-top-left-radius:2px;border-top-left-radius:2px} ul.stepper.horizontal:first-child{margin-top:-2.7rem} ul.stepper.horizontal .step{position:static;margin:0;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:5.25rem!important} ul.stepper.horizontal .step:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem} ul.stepper.horizontal>.step:last-of-type, ul.stepper.horizontal>.step[data-last=true]{width:auto!important} ul.stepper.horizontal>.step.active:not(:last-of-type):after{content:'';position:static;display:inline-block;width:100%;height:.0625rem} ul.stepper.horizontal .step.active .step-title:before{background-color:#4285f4} ul.stepper.horizontal .step.done .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f00c';font-size:1rem;background:#00c851} ul.stepper.horizontal .step.wrong .step-title:before{font-family:'Font Awesome 5 Free';font-weight:900;content:'\f071';font-size:1.1rem;background-color:#ff3547} ul.stepper.horizontal .step-title{line-height:5.25rem;height:5.25rem;margin:0;padding:0 1.5625rem 0 4.0625rem;display:inline-block;max-width:13.75rem;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0} ul.stepper.horizontal .step:before{content:none} ul.stepper.horizontal .step .step-title:before{position:absolute;top:1.7813rem;left:1.1875rem;counter-increment:section;content:counter(section);height:1.75rem;width:1.75rem;color:#fff;background-color:rgba(0,0,0,.3);-webkit-border-radius:100%;border-radius:100%;text-align:center;line-height:1.75rem;font-weight:400} ul.stepper.horizontal .step-title:after{top:.9375rem} ul.stepper.horizontal .step-new-content{position:absolute;height:calc(100% - 84px);top:6rem;left:0;width:100%;overflow-y:auto;overflow-x:hidden;margin:0;padding:1.25rem 1.25rem 4.75rem} ul.stepper.horizontal .step-actions{position:absolute;bottom:0;left:0;width:100%;padding:20px;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse} ul.stepper.horizontal .step-actions .btn-flat:not(:last-child), ul.stepper.horizontal .step-actions .btn-large:not(:last-child), ul.stepper.horizontal .step-actions .btn:not(:last-child){margin-left:.3125rem;margin-right:0} ul.stepper.horizontal .step-actions, ul.stepper.horizontal .step-new-content{padding-left:2.5rem;padding-right:2.5rem}}
		    ul.horizontal-fix li a {
		        padding: .84rem 2.14rem;
		        }
		        
		.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
		</style>
		
		<script type="text/javascript">
	  var zNodesIndicateur =[
		  { id:0, pId:0, name:"/", open:true}
	  ];
	  var zNodesClassification =[
			{ id:0, pId:0, name:"/", open:true}
			
		];
	  
	  var zNodesIndicateurSelectionnes =[];
	</script>

	<script th:inline="javascript">
	
	/*[#th:block th:each="indicateur : ${indicateurs}"]*/
		/*[+ zNodesIndicateur.push({'id':[[${indicateur.code}]],'pId':0, 'name':[[${indicateur.libelle}]]}) +]*/
   
  /*[/th:block]*/
  
  
  /*[#th:block th:each="classification : ${classifications}"]*/
		/*[# th:if="${classification.parent}"]*/
			 /*[+ zNodesClassification.push({'id':[[${classification.code}]], 'pId':[[${classification.parent.code}]], 'name':[[${classification.libelle}]]}) +]*/
		/*[/]*/
		
		/*[# th:unless="${classification.parent}"]*/
			 /*[+ zNodesClassification.push({'id':[[${classification.code}]], 'pId':0, 'name':[[${classification.libelle}]]}) +]*/
		/*[/]*/
   
  /*[/th:block]*/
	
	</script>

	
	<script type="text/javascript" th:inline="javascript">
			var tempNode = null;
			var settingClassification = {
					view: {
						showIcon: showIconForTree,
						addHoverDom: addHoverDomClassification,
						removeHoverDom: removeHoverDomClassification
					},
					edit: {
						enable: true,
						editNameSelectAll: true,
						showRemoveBtn: true,
						showRenameBtn: true
					},
					data: {
						simpleData: {
							enable: true
						}
					},
					callback: {
						beforeClick: beforeClickClassification,
						onClick: onClickClassification,
						beforeEditName: beforeEditNameClassification,
						beforeRemove: beforeRemoveClassification,
						beforeRename: beforeRenameClassification,
						onRemove: onRemoveClassification,
						onRename: onRenameClassification,
						beforeDrag: beforeDrag,
						beforeDrop: beforeDrop
					}
				};
				function beforeDrag(treeId, treeNodes) {
				    return false;
				};
				
				function beforeDrop(treeId, treeNodes) {
				    return false;
				};
				
				
				function beforeClickClassification(treeId, treeNode, clickFlag) {
					return (treeNode.click != false);
				}
				function onClickClassification(event, treeId, treeNode, clickFlag) {
					
					$.get('/listeIndicateursClassification/'+treeNode.id,function(dat){
						zNodesIndicateurSelectionnes = eval(dat);
						$.fn.zTree.init($("#liste_indicateur_selectionnes"), settingIndicateur, zNodesIndicateurSelectionnes);
						
					});
					
					$.get('/getIndicateursClassificationDisponibles/'+treeNode.id,function(dat){
						zNodesIndicateur = eval(dat);
						$.fn.zTree.init($("#liste_indicateur"), settingIndicateur, zNodesIndicateur);
						
					});
					
					
				}
				var log, className = "dark";
				function beforeEditNameClassification(treeId, treeNode) {
					var zTree = $.fn.zTree.getZTreeObj("liste_classification");
					zTree.selectNode(treeNode);
					setTimeout(function() {
							zTree.editName(treeNode);
						}, 0);
					return false;
				}
				function beforeRenameClassification(treeId, treeNode, newName, isCancel) {
					className = (className === "dark" ? "":"dark");
					if (newName.length == 0) {
						setTimeout(function() {
							var zTree = $.fn.zTree.getZTreeObj("liste_classification");
							zTree.cancelEditName();
							alert("le libelle ne doit pas être vide");
						}, 0);
						return false;
					}
						
					return true;
				}
				function onRenameClassification(e, treeId, treeNode, isCancel) {
					
					if(tempNode != null)
					{
						/*alert(treeNode.id);*/
						typeClassification_code = $('#typeClassification_code').val();
						$.post('/classification',{code:treeNode.id,libelle:treeNode.name,parent_code:treeNode.pId,typeClassification_code:typeClassification_code},function(id){
							treeNode.id = id;
							
						});
						
						tempNode = null;
					}
					else
					{
						typeClassification_code = $('#typeClassification_code').val();
						$.post('/updateClassification',{code:treeNode.id,libelle:treeNode.name,parent_code:treeNode.pId,typeClassification_code:typeClassification_code},function(id){
							
						});
						
					}
				}
				function beforeRemoveClassification(treeId, treeNode) {
					className = (className === "dark" ? "":"dark");
					var zTree = $.fn.zTree.getZTreeObj("liste_classification");
					zTree.selectNode(treeNode);
					return confirm("Confirmer la suppression de l'classification : " + treeNode.name);
				}
				function onRemoveClassification(e, treeId, treeNode) {
					typeClassification_code = $('#typeClassification_code').val();
					$.post('/deleteClassification',{code:treeNode.id,libelle:treeNode.name,parent_code:treeNode.pId,typeClassification_code:typeClassification_code},function(id){
						
					});
				}
				var newCount = 0;
				function addHoverDomClassification(treeId, treeNode) {
					var sObj = $("#" + treeNode.tId + "_span");
					if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
					var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
						+ "' title='ajouter un élément' onfocus='this.blur();'></span>";
					sObj.after(addStr);
					var btn = $("#addBtn_"+treeNode.tId);
					
					if (btn) btn.bind("click", function(){
						if(treeNode.children != null)
							var indice = treeNode.children.length;
						else
							var indice = 0;
						var zTree = $.fn.zTree.getZTreeObj("liste_classification");
						var newNode_name = "nouveau";
						newCount++;
						var newNode = {id:newCount, pId:treeNode.id, name:newNode_name};
						zTree.addNodes(treeNode, newNode);
						tempNode = newNode;
						
						last_node = treeNode.children[indice];
						zTree.selectNode(last_node);
						setTimeout(function(dat) {
									zTree.editName(last_node);
								}, 0);
								
						return false;
						
					});
					
					
				};
				function removeHoverDomClassification(treeId, treeNode) {
					$("#addBtn_"+treeNode.tId).unbind().remove();
				};
				
				function showRemoveBtn(treeId, treeNode) {
					return !treeNode.isFirstNode;
				}
				function showRenameBtn(treeId, treeNode) {
					return !treeNode.isLastNode;
				}
				function showLog(str) {
					if (!log) log = $("#log");
					log.append("<li class='"+className+"'>"+str+"</li>");
					if(log.children("li").length > 8) {
						log.get(0).removeChild(log.children("li")[0]);
					}
				}
				function getTime() {
					var now= new Date(),
					h=now.getHours(),
					m=now.getMinutes(),
					s=now.getSeconds(),
					ms=now.getMilliseconds();
					return (h+":"+m+":"+s+ " " +ms);
				}
				var newCount = 0;
				function addHoverDomClassification(treeId, treeNode) {
					var sObj = $("#" + treeNode.tId + "_span");
					if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
					var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
						+ "' title='ajouter un élément' onfocus='this.blur();'></span>";
					sObj.after(addStr);
					var btn = $("#addBtn_"+treeNode.tId);
					
					if (btn) btn.bind("click", function(){
						if(treeNode.children != null)
							var indice = treeNode.children.length;
						else
							var indice = 0;
						var zTree = $.fn.zTree.getZTreeObj("liste_classification");
						var newNode_name = "nouveau";
						newCount++;
						var newNode = {id:newCount, pId:treeNode.id, name:newNode_name};
						zTree.addNodes(treeNode, newNode);
						tempNode = newNode;
						
						last_node = treeNode.children[indice];
						zTree.selectNode(last_node);
						setTimeout(function(dat) {
									zTree.editName(last_node);
								}, 0);
								
						return false;
						
					});
					
					
				};
				function removeHoverDomClassification(treeId, treeNode) {
					$("#addBtn_"+treeNode.tId).unbind().remove();
				};
				
			var settingIndicateur = {
				view: {
					showIcon: showIconForTree,
					addHoverDom: addHoverDomIndicateur,
					removeHoverDom: removeHoverDomIndicateur
					
				},
				data: {
					simpleData: {
						enable: true
					}
				},
				edit: {
					enable: true,
					editNameSelectAll: true,
					showRemoveBtn: true,
					showRenameBtn: true
				},
				callback: {
					beforeClick: beforeClickIndicateur,
					onClick: onClickIndicateur,
					beforeDblClick : beforeDblClickIndicateur,
					onDblClick: onDblClickIndicateur,
					beforeEditName: beforeEditNameIndicateur,
					beforeRemove: beforeRemoveIndicateur,
					beforeRename: beforeRenameIndicateur,
					onRemove: onRemoveIndicateur,
					onRename: onRenameIndicateur,
					beforeDrag: beforeDrag,
					beforeDrop: beforeDrop
					
				}
			};
			
			
			
			
			function beforeClickIndicateur(treeId, treeNode, clickFlag) {
				return (treeNode.click != false);
			}
			function onClickIndicateur(event, treeId, treeNode, clickFlag) {
				
			}
			function beforeDblClickIndicateur(treeId, treeNode) {
				return (treeNode.click != false);
			};
			
			function onDblClickIndicateur(event, treeId, treeNode) {
				var classificationTreeObj = $.fn.zTree.getZTreeObj("liste_classification");
				var classificationTreeNodes = classificationTreeObj.getSelectedNodes();
				var classificationLength = classificationTreeNodes.length;
				if(treeId == "liste_indicateur")
				{
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getSelectedNodes();

					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					
					var params =[];
					
					if(classificationLength > 0)
					{
						
							var indicateur = treeNodes[0];
							if(indicateur.name != "/")
							{
								destinationTreeObj.addNodes(null, indicateur);
								sourceTreeObj.removeNode(indicateur);
								params[0] = indicateur.id;
							
								$.post('/ajoutIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
								});
							}
							
					}
					
				}
				else if(treeId == "liste_indicateur_selectionnes")
				{
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					var treeNodes = sourceTreeObj.getSelectedNodes();

					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					
					var params =[];
					
					if(classificationLength > 0)
					{
						
							var indicateur = treeNodes[0];
							destinationTreeObj.addNodes(destinationTreeObj.getNodes()[0], indicateur);
							sourceTreeObj.removeNode(indicateur);
							params[0] = indicateur.id;
						
						$.post('/suppressionIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
						});
					}
					
				}
				
			};
			
			function showIconForTree(treeId, treeNode) {
				/*return !treeNode.isParent;*/
			};
			
			function beforeEditNameIndicateur(treeId, treeNode) {
				var zTree = $.fn.zTree.getZTreeObj("liste_indicateur");
				zTree.selectNode(treeNode);
				setTimeout(function() {
						zTree.editName(treeNode);
					}, 0);
				return false;
			}
			function beforeRenameIndicateur(treeId, treeNode, newName, isCancel) {
				className = (className === "dark" ? "":"dark");
				if (newName.length == 0) {
					setTimeout(function() {
						var zTree = $.fn.zTree.getZTreeObj("liste_indicateur");
						zTree.cancelEditName();
						alert("le libelle ne doit pas être vide");
					}, 0);
					return false;
				}
					
				return true;
			}
			function onRenameIndicateur(e, treeId, treeNode, isCancel) {
				
				if(tempNode != null)
				{
					$.post('/indicateur',{code:treeNode.id,libelle:treeNode.name},function(id){
						treeNode.id = id;
						
					});
					
					tempNode = null;
				}
				else
				{
					$.post('/updateIndicateur',{code:treeNode.id,libelle:treeNode.name},function(id){
						
					});
					
				}
			}
			function beforeRemoveIndicateur(treeId, treeNode) {
				className = (className === "dark" ? "":"dark");
				var zTree = $.fn.zTree.getZTreeObj("liste_indicateur");
				zTree.selectNode(treeNode);
				return confirm("Confirmer la suppression de l'indicateur : " + treeNode.name);
			}
			function onRemoveIndicateur(e, treeId, treeNode) {
				$.post('/deleteIndicateur',{code:treeNode.id,libelle:treeNode.name},function(id){
					
				});
			}
			
			var newCount = 0;
			function addHoverDomIndicateur(treeId, treeNode) {
				if(treeNode.id == 0){
				var sObj = $("#" + treeNode.tId + "_span");
				if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
				var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
					+ "' title='ajouter un élément' onfocus='this.blur();'></span>";
				sObj.after(addStr);
				var btn = $("#addBtn_"+treeNode.tId);
				
				if (btn) btn.bind("click", function(){
					if(treeNode.children != null)
						var indice = treeNode.children.length;
					else
						var indice = 0;
					var zTree = $.fn.zTree.getZTreeObj("liste_indicateur");
					var newNode_name = "nouveau indicateur";
					newCount++;
					var newNode = {id:newCount, pId:treeNode.id, name:newNode_name};
					zTree.addNodes(treeNode,newNode);
					tempNode = newNode;
					
					last_node = treeNode.children[indice];
					zTree.selectNode(last_node);
					setTimeout(function(dat) {
								zTree.editName(last_node);
							}, 0);
							
					return false;
					
				});
				
			}	
			};
			function removeHoverDomIndicateur(treeId, treeNode) {
				$("#addBtn_"+treeNode.tId).unbind().remove();
			};
		</script>
		
		<table id="tab" style="width:100%;border: solid 3px #f8f9fa">
			<thead>
				<tr style="background:#f8f9fa">
					<th style="width:33%;padding:10px;" th:text="${typeClassification.libelle}"> 
					<span class="float-right">
							
						</span>
					</th>
					<th style="width:37%;padding:10px;">Indicateurs disponibles
						<span class="float-right">
							<a href="#" id="uniteIndicateurDisponible" data-toggle="tooltip" data-placement="top" title="" data-original-title="Définir les unités d'un indicateur selectionné"><i class="mdi mdi-scale-balance" style="padding-right:15px"></i></a>
							<a href="#" id="sousGroupeIndicateurDisponible" data-toggle="tooltip" data-placement="top" title="" data-original-title="Définir les sous groupes d'un indicateur selectionné"><i class="mdi mdi-file-tree" style="padding-right:15px"></i></a>
							<a href="#" id="uploadIndicateur"><i class="mdi mdi-file-upload" style="padding-right:15px"></i></a>
							<a href="#" id="infosIndicateurDisponible"><i class=" mdi mdi-information-outline" style="padding-right:15px"></i></a>
							<a href="#" id="transfererIndicateurDisponibleVersSelectionne"><i class="fas fa-angle-right" style="padding-right:15px"></i></a>
							<a href="#" id="transfererToutIndicateurDisponibleVersSelectionne"><i class="fas fa-angle-double-right" style="padding-right:15px"></i></a>
						</span>
					</th>
					<th style="width:30%;padding:10px;">Indicateurs classés
						<span class="float-right">
							<a href="#" id="infosIndicateurSelectionne"><i class=" mdi mdi-information-outline" style="padding-right:15px"></i></a>
							<a href="#" id="transfererIndicateurSelectionneVersDisponible"><i class="fas fa-angle-left" style="padding-right:15px"></i></a>
							<a href="#" id="transfererToutIndicateurSelectionneVersDisponible"><i class="fas fa-angle-double-left" style="padding-right:15px"></i></a>
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="vertical-align: top;border-right: solid 3px #f8f9fa">
						<div class="input-group">
				           <input type="text" id="search_classification" name="search_classification" class="form-control form-control-sm" placeholder="Search">
				       		<span class="input-group-append">
	                       		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
	                       </span>
				       	</div>
						<ul id="liste_classification" class="ztree"></ul>
					</td>
					<td style="vertical-align: top;border-right: solid 3px #f8f9fa">
						<div class="input-group">
				           <input type="text" id="search_indicateur" name="search_indicateur" class="form-control form-control-sm" placeholder="Search">
				       		<span class="input-group-append">
	                       		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
	                       </span>
				       	</div>
						<ul id="liste_indicateur" class="ztree"></ul>
					</td>
					<td style="vertical-align: top;">
						<div class="input-group">
				           <input type="text" id="search_indicateur_selectionnes" name="search_indicateur_selectionnes" class="form-control form-control-sm" placeholder="Search">
				       		<span class="input-group-append">
	                       		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
	                       </span>
				       	</div>
						<ul id="liste_indicateur_selectionnes" class="ztree"></ul>
					</td>
				</tr>
			</tbody>
		</table>
		
		<script>
			$(document).ready(function () {
				$.fn.zTree.init($("#liste_indicateur"), settingIndicateur, zNodesIndicateur);
				$.fn.zTree.init($("#liste_classification"), settingClassification, zNodesClassification);
				$.fn.zTree.init($("#liste_indicateur_selectionnes"), settingIndicateur, zNodesIndicateurSelectionnes);
				$("#tab").colResizable();
				
				$(".toast").toast();
				
				$('#search_classification').keypress(function(){
			    	 if($(this).val() != "")
			    	 { 
			    		 var treeObj = $.fn.zTree.getZTreeObj("liste_classification");
					      var nodes = treeObj.getNodesByParamFuzzy("name", $(this).val(), null);
					      $.fn.zTree.init($("#liste_classification"), settingClassification, nodes); 
			    	 }else
			    	{
			    		$.fn.zTree.init($("#liste_classification"), settingClassification, zNodesClassification);
			    	}
					 
			      });
				$('#search_indicateur').keypress(function(){
			    	 if($(this).val() != "")
			    	 { 
			    		 var treeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					      var nodes = treeObj.getNodesByParamFuzzy("name", $(this).val(), null);
					      $.fn.zTree.init($("#liste_indicateur"), settingIndicateur, nodes); 
			    	 }else
			    	{
			    		 $.fn.zTree.init($("#liste_indicateur"), settingIndicateur, zNodesIndicateur);
			    	}
					 
			      });
				$('#search_indicateur_selectionnes').keypress(function(){
			    	 if($(this).val() != "")
			    	 { 
			    		 var treeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					      var nodes = treeObj.getNodesByParamFuzzy("name", $(this).val(), null);
					      $.fn.zTree.init($("#liste_indicateur_selectionnes"), settingIndicateur, nodes); 
			    	 }else
			    	{
			    		 $.fn.zTree.init($("#liste_indicateur_selectionnes"), settingIndicateur, zNodesIndicateurSelectionnes);
							
			    	}
					 
			      });
				
				
				$('#transfererIndicateurDisponibleVersSelectionne').click(function(){
					var classificationTreeObj = $.fn.zTree.getZTreeObj("liste_classification");
					var classificationTreeNodes = classificationTreeObj.getSelectedNodes();
					var classificationLength = classificationTreeNodes.length;
					
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getSelectedNodes();
					var l=treeNodes.length;
					
					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					
					var params =[];
					var p = 0;
					
					if(classificationLength > 0)
					{
						while (l>0) {
							var indicateur = treeNodes[l-1];
							destinationTreeObj.addNodes(null, indicateur);
							sourceTreeObj.removeNode(indicateur);
							l--;
							
							params[p] = indicateur.id;
							p++;
						}
						$.post('/ajoutIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
						});
					}
					
				});
				
				$('#transfererIndicateurSelectionneVersDisponible').click(function(){
					var classificationTreeObj = $.fn.zTree.getZTreeObj("liste_classification");
					var classificationTreeNodes = classificationTreeObj.getSelectedNodes();
					var classificationLength = classificationTreeNodes.length;
					
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					var treeNodes = sourceTreeObj.getSelectedNodes();
					var l=treeNodes.length;
					
					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					
					var params =[];
					var p = 0;
					
					if(classificationLength > 0)
					{
						while (l>0) {
							var indicateur = treeNodes[l-1];
							destinationTreeObj.addNodes(destinationTreeObj.getNodes()[0], indicateur);
							sourceTreeObj.removeNode(indicateur);
							l--;
							
							params[p] = indicateur.id;
							p++;
						}
						$.post('/suppressionIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
						});
					}
					
				});
				
				$('#transfererToutIndicateurDisponibleVersSelectionne').click(function(){
					var classificationTreeObj = $.fn.zTree.getZTreeObj("liste_classification");
					var classificationTreeNodes = classificationTreeObj.getSelectedNodes();
					var classificationLength = classificationTreeNodes.length;
					
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getNodes()[0].children;
					
					var l=treeNodes.length;
					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					
					var params =[];
					var p = 0;
					
					if(classificationLength > 0)
					{
						while (l>0) {
							var indicateur = treeNodes[l-1];
							if(indicateur.name != "/")
							{ 
								destinationTreeObj.addNodes(null, indicateur);
								sourceTreeObj.removeNode(indicateur);
								params[p] = indicateur.id;
								p++;
							}
							l--;
							
							
							
						}
						
						$.post('/ajoutIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
						});
					
					}
					
				});
				
				$('#transfererToutIndicateurSelectionneVersDisponible').click(function(){
					var classificationTreeObj = $.fn.zTree.getZTreeObj("liste_classification");
					var classificationTreeNodes = classificationTreeObj.getSelectedNodes();
					var classificationLength = classificationTreeNodes.length;
					
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur_selectionnes");
					var treeNodes = sourceTreeObj.getNodes();
					var l=treeNodes.length;
					
					var destinationTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					
					var params =[];
					var p = 0;
					
					if(classificationLength > 0)
					{
						while (l>0) {
							var indicateur = treeNodes[l-1];
							destinationTreeObj.addNodes(destinationTreeObj.getNodes()[0], indicateur);
							sourceTreeObj.removeNode(indicateur);
							l--;
							
							params[p] = indicateur.id;
							p++;
							
						}
						$.post('/suppressionIndicateurClassification',{params:params,classificationId:classificationTreeNodes[0].id},function(dat){
						});
					
					}
					
				});
				
				$('#infosIndicateurDisponible').click(function(){
					typeClassification_code = $('#typeClassification_code').val();
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getSelectedNodes();
					var indicateur = treeNodes[0];
					$.get('/ajouterFicheTechnique/'+indicateur.id+'/'+typeClassification_code,function(dat){
						$('#popup').html(dat);
						$("#myModal").modal('show');
					});
					
				});
				
				
				$('#uniteIndicateurDisponible').click(function(){
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getSelectedNodes();
					var indicateur = treeNodes[0];
					$.get('/ajouterUniteIndicateur/'+indicateur.id,function(dat){
						$('#popup').html(dat);
						$("#myModal").modal('show');
					});
					
				});
				
				$('#sousGroupeIndicateurDisponible').click(function(){
					var sourceTreeObj = $.fn.zTree.getZTreeObj("liste_indicateur");
					var treeNodes = sourceTreeObj.getSelectedNodes();
					var indicateur = treeNodes[0];
					$.get('/ajouterSousGroupeIndicateur/'+indicateur.id,function(dat){
						$('#popup').html(dat);
						$("#myModal").modal('show');
					});
					
				});
				
				$('#uploadIndicateur').click(function(){
					typeClassification_code = $('#typeClassification_code').val();
					$.get('/uploadIndicateur/'+typeClassification_code,function(dat){
						$('#popup').html(dat);
						$("#myModal").modal('show');
					});
					
				});
				
			      
		  });

		</script>
	</div>	
</body>
</html>