<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<input type="hidden" id="idAep" name ="idAep" th:attr="value=${aep.code}">
			<div class="col-12">
				<div id="operationStatus"> </div>
	           <ul class="nav nav-tabs" id="etape">
			        <li class="nav-item">
			           <a href="#etape1" tab_id="1" class="nav-link" data-toggle="tab"> <i class="mdi mdi-information" style="padding-right:10px"></i>Infos générales</a>
			        </li>
			        <li class="nav-item">
			            <a href="#etape2" tab_id="2" class="nav-link" data-toggle="tab">Captage AEP</a>
			        </li>
			        
			        <li class="nav-item">
			           <a href="#etape3" tab_id="3" class="nav-link" data-toggle="tab"> Borne Fontaine</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape4" tab_id="4" class="nav-link" data-toggle="tab"> Abreuvoir</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape5" tab_id="5" class="nav-link" data-toggle="tab"> Branch. particulier</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape6" tab_id="6" class="nav-link" data-toggle="tab"> Réseau distribution</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape7" tab_id="7" class="nav-link" data-toggle="tab"> Réseau refoulement</a>
			        </li>
			        <li class="nav-item">
			           <a href="#etape8" tab_id="8" class="nav-link" data-toggle="tab">Château d'eau</a>
			        </li>
			    </ul>
			    
			    <div class="tab-content">
			        <div class="tab-pane fade" id="etape1">
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="numeroIRH" th:text="#{_numeroIRH}"> <span class="text-danger">*</span></label>
									<input type="text" id="numeroIRH" name="numeroIRH" class="form-control">
								</div>
								<div class="form-group">
									<label for="anneeRealisation" th:text="#{_anneeRealisation}"> <span class="text-danger">*</span></label>
									<input type="text" id="anneeRealisation" name="anneeRealisation" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeTypeSystemeAEP" th:text="#{_systemeAEP}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeSystemeAEP" name="codeTypeSystemeAEP">
										<option value="">Choisir une option</option>
										<option th:each="typeSystemeAEP : ${typeSystemeAEPs}" th:attr="value=${typeSystemeAEP.code}"  th:text="${typeSystemeAEP.liblle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codePropriete" th:text="#{_propriete}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codePropriete" name="codePropriete">
										<option value="">Choisir une option</option>
										<option th:each="propriete : ${proprietes}" th:attr="value=${propriete.code}"  th:text="${propriete.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="codeFinancement" th:text="#{_financement}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeFinancement" name="codeFinancement">
										<option value="">Choisir une option</option>
										<option th:each="financement : ${financements}" th:attr="value=${financement.code}"  th:text="${financement.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeProjet" th:text="#{_projet}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeProjet" name="codeProjet">
										<option value="">Choisir une option</option>
										<option th:each="projet : ${projets}" th:attr="value=${projet.code}"  th:text="${projet.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">	
								<div class="form-group">
									<label for="codeLocalite" th:text="#{_localite}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeLocalite" name="codeLocalite">
										<option value="">Choisir une option</option>
										<option th:each="localite : ${localites}" th:attr="value=${localite.code}"  th:text="${localite.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="etatOuvrage" th:text="#{_etatOuvrage}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="etatOuvrage" name="etatOuvrage">
										<option value="">Choisir une option</option>
										<option th:each="etatOuvrage : ${etatOuvrages}" th:attr="value=${etatOuvrage.code}"  th:text="${etatOuvrage.libelle}"></option>
									</select>
								</div>
								
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="sourceEnergieSolaire" th:text="#{_sourceEnergieSolaire}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="sourceEnergieSolaire1" name="sourceEnergieSolaire">
										<label for="sourceEnergieSolaire" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="sourceEnergieSolaire2" name="sourceEnergieSolaire" checked>
										<label for="sourceEnergieSolaire" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="sourceEnergieThermique" th:text="#{_sourceEnergieThermique}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="sourceEnergieThermique1" name="sourceEnergieThermique">
										<label for="sourceEnergieThermique" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="sourceEnergieThermique2" name="sourceEnergieThermique" checked>
										<label for="sourceEnergieThermique" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="sourceEnergieReseauElectrique" th:text="#{_sourceEnergieReseauElectrique}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="sourceEnergieReseauElectrique1" name="sourceEnergieReseauElectrique">
										<label for="sourceEnergieReseauElectrique" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="sourceEnergieReseauElectrique2" name="sourceEnergieReseauElectrique" checked>
										<label for="sourceEnergieReseauElectrique" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="sourceEnergieEolienne" th:text="#{_sourceEnergieEolienne}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="sourceEnergieEolienne1" name="sourceEnergieEolienne">
										<label for="sourceEnergieEolienne" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="sourceEnergieEolienne2" name="sourceEnergieEolienne" checked>
										<label for="sourceEnergieEolienne" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="sourceEnergieAutres" th:text="#{_sourceEnergieAutres}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="sourceEnergieAutres1" name="sourceEnergieAutres">
										<label for="sourceEnergieAutres" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="sourceEnergieAutres2" name="sourceEnergieAutres" checked>
										<label for="sourceEnergieAutres" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="precisionEnergieAutres" th:text="#{_precisionEnergieAutres}"> <span class="text-danger">*</span></label>
									<input type="text" id="precisionEnergieAutres" name="precisionEnergieAutres" class="form-control" >
								</div>
							</div>
							
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_informations_generales" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_informations_generales" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
		        	</div>
			        
			        <div class="tab-pane fade" id="etape2">
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeTypeSystemeProtection" th:text="#{_systemeProtection}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeTypeSystemeProtection" name="codeTypeSystemeProtection">
										<option value="">Choisir une option</option>
										<option th:each="typeSystemeProtection : ${typeSystemeProtections}" th:attr="value=${typeSystemeProtection.code}"  th:text="${typeSystemeProtection.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="indexCompteurForage" th:text="#{_indexCompteurForage}"> <span class="text-danger">*</span></label>
									<input type="text" id="indexCompteurForage" name="indexCompteurForage" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="protectionTeteForage" th:text="#{_protectionTeteForage}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="protectionTeteForage1" name="protectionTeteForage">
										<label for="protectionTeteForage" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="protectionTeteForage2" name="protectionTeteForage" checked>
										<label for="protectionTeteForage" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="etatCompteurForage" th:text="#{_etatCompteurForage}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="etatCompteurForage1" name="etatCompteurForage">
										<label for="etatCompteurForage" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="etatCompteurForage2" name="etatCompteurForage" checked>
										<label for="etatCompteurForage" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="profondeurTotaleMesure" th:text="#{_profondeurTotaleMesure}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurTotaleMesure" name="profondeurTotaleMesure" class="form-control" >
								</div>
								<div class="form-group">
									<label for=profondeurNiveauStatique th:text="#{_profondeurNiveauStatique}"> <span class="text-danger">*</span></label>
									<input type="text" id="profondeurNiveauStatique" name="profondeurNiveauStatique" class="form-control" >
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="diametreEquipement" th:text="#{_diametreEquipement}"> <span class="text-danger">*</span></label>
									<input type="text" id="diametreEquipement" name=diametreEquipement class="form-control">
								</div>
								<div class="form-group">
									<label for="codeTypeSystemeInstallation" th:text="#{_SystemeInstallation}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="etatOuvrage" name="etatOuvrage">
										<option value="">Choisir une option</option>
										<option th:each="typeSystemeInstallation : ${typeSystemeInstallations}" th:attr="value=${typeSystemeInstallation.code}"  th:text="${typeSystemeInstallation.libelle}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puissance" th:text="#{_puissance}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissance" name="puissance" class="form-control" >
								</div>
								<div class="form-group">
									<label for="dateInstallation" th:text="#{_dateInstallation}"> <span class="text-danger">*</span></label>
									<input type="date" id="dateInstallation" name="dateInstallation" class="form-control" >
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeModelePompe" th:text="#{_modelePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeModelePompe" name="codeModelePompe">
										<option value="">Choisir une option</option>
										<option th:each="modelePompe : ${modelePompes}" th:attr="value=${modelePompe.code}"  th:text="${modelePompe.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeMarquePompe" th:text="#{_marquePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeMarquePompe" name="codeMarquePompe">
										<option value="">Choisir une option</option>
										<option th:each="marquePompe : ${marquePompes}" th:attr="value=${marquePompe.code}"  th:text="${marquePompe.libelle}"></option>
									</select>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="debitNominal" th:text="#{_debitNominal}"> <span class="text-danger">*</span></label>
									<input type="text" id="debitNominal" name="debitNominal" class="form-control">
								</div>
								<div class="form-group">
									<label for="HMT" th:text="#{_HMT}"> <span class="text-danger">*</span></label>
									<input type="text" id="HMT" name="HMT" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="longueurColonne" th:text="#{_longueurColonne}"> <span class="text-danger">*</span></label>
									<input type="text" id="longueurColonne" name="longueurColonne" class="form-control">
								</div>
								<div class="form-group">
									<label for="typeColonneExhaure" th:text="#{_typeColonneExhaure}"> <span class="text-danger">*</span></label>
									<input type="text" id="typeColonneExhaure" name="typeColonneExhaure" class="form-control">
								</div>
							</div>
							
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="diametreColonne" th:text="#{_diametreColonne}"> <span class="text-danger">*</span></label>
									<input type="text" id="diametreColonne" name="diametreColonne" class="form-control">
								</div>
								<div class="form-group">
									<label for="coteInstallationPompe" th:text="#{_coteInstallationPompe}"> <span class="text-danger">*</span></label>
									<input type="text" id="coteInstallationPompe" name="coteInstallationPompe" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="tubageProtectionTete" th:text="#{_tubageProtectionTete}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="tubageProtectionTete1" name="tubageProtectionTete">
										<label for="tubageProtectionTete" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="tubageProtectionTete2" name="tubageProtectionTete" checked>
										<label for="tubageProtectionTete" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="couvercleProtectionTete" th:text="#{_couvercleProtectionTete}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="couvercleProtectionTete1" name="couvercleProtectionTete">
										<label for="couvercleProtectionTete" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="couvercleProtectionTete2" name="couvercleProtectionTete" checked>
										<label for="couvercleProtectionTete" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="possibiliteMesurePiezometrique" th:text="#{_possibiliteMesurePiezometrique}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="possibiliteMesurePiezometrique1" name="possibiliteMesurePiezometrique">
										<label for="possibiliteMesurePiezometrique" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="possibiliteMesurePiezometrique2" name="possibiliteMesurePiezometrique" checked>
										<label for="possibiliteMesurePiezometrique" th:text="#{_non}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="dateInstallation2" th:text="#{_dateInstallation}"> <span class="text-danger">*</span></label>
									<input type="text" id="dateInstallation2" name="dateInstallation2" class="form-control">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeModelePompe" th:text="#{_modelePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeModelePompe2" name="codeModelePompe2">
										<option value="">Choisir une option</option>
										<option th:each="modelePompe : ${modelePompes}" th:attr="value=${modelePompe.code}"  th:text="${modelePompe.libelle}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="codeMarquePompe" th:text="#{_marquePompe}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="codeMarquePompe2" name="codeMarquePompe2">
										<option value="">Choisir une option</option>
										<option th:each="marquePompe : ${marquePompes}" th:attr="value=${marquePompe.code}"  th:text="${marquePompe.libelle}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puissance2" th:text="#{_puissance}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissance2" name="puissance2" class="form-control">
								</div>
								<div class="form-group">
									<label for="voltage" th:text="#{_voltage}"> <span class="text-danger">*</span></label>
									<input type="text" id="voltage" name="voltage" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="typeTableauDistribution" th:text="#{_typeTableauDistribution}"> <span class="text-danger">*</span></label>
									<input type="text" id="typeTableauDistribution" name="typeTableauDistribution" class="form-control">
								</div>
								<div class="form-group">
									<label for="puissanceTransformateur" th:text="#{_puissanceTransformateur}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissanceTransformateur" name="puissanceTransformateur" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puissanceCompteurElectrique" th:text="#{_puissanceCompteurElectrique}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissanceCompteurElectrique" name="puissanceCompteurElectrique" class="form-control">
								</div>
								<div class="form-group">
									<label for="marqueModule" th:text="#{_marqueModule}"> <span class="text-danger">*</span></label>
									<input type="text" id="marqueModule" name="marqueModule" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="nombreModule" th:text="#{_nombreModule}"> <span class="text-danger">*</span></label>
									<input type="text" id="nombreModule" name="nombreModule" class="form-control">
								</div>
								<div class="form-group">
									<label for="puissanceUnitaireModule" th:text="#{_puissanceUnitaireModule}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissanceUnitaireModule" name="puissanceUnitaireModule" class="form-control">
								</div>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puissanceTotale" th:text="#{_puissanceTotale}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissanceTotale" name="puissanceTotale" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="marqueOnduleur" th:text="#{_marqueOnduleur}"> <span class="text-danger">*</span></label>
									<input type="text" id="marqueOnduleur" name="marqueOnduleur" class="form-control">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="puissanceOnduleur" th:text="#{_puissanceOnduleur}"> <span class="text-danger">*</span></label>
									<input type="text" id="puissanceOnduleur" name="puissanceOnduleur" class="form-control">
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_captage_systeme_aep" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_captage_systeme_aep" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
						
			        </div>
			        
			        <div class="tab-pane fade" id="etape3">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="nbRobinets" th:text="#{_nbRobinets}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nbRobinets" name="nbRobinets">
								</div>
								<div class="form-group">
									<label for="nbRobinetsFonctionnels" th:text="#{_nbRobinetsFonctionnels}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nbRobinetsFonctionnels" name="nbRobinetsFonctionnels">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="latitude" name="latitude">
								</div>
								<div class="form-group">
									<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="longitude" name="longitude">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeINS" th:text="#{_codeINS}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="codeINS" name="codeINS">
								</div>
								<div class="form-group">
									<label for="compteurInstalle" th:text="#{_compteurInstalle}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="compteurInstalle1" name="compteurInstalle">
										<label for="compteurInstalle" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="compteurInstalle2" name="compteurInstalle" checked>
										<label for="compteurInstalle" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_prestation" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_prestation" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_analyse" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_nbRobinets}"></th>
											<th th:text="#{_nbRobinetsFonctionnels}"></th>
											<th th:text="#{_latitude}"></th>
											<th th:text="#{_longitude}"></th>
											<th th:text="#{_codeINS}"></th>
											<th th:text="#{_compteurInstalle}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="fontaine : ${fontaines}">
											<td th:text="${fontaine.nbRobinets}"></td>
											<td th:text="${fontaine.nbRobinetsFonctionnels}"></td>
											<td th:text="${fontaine.latitude}"></td>
											<td th:text="${fontaine.longitude}"></td>
											<td th:text="${fontaine.codeINS}"></td>
											<td th:text="${fontaine.compteurInstalle}"></td>
											<td align="center"> 
												<a th:href="@{/updateFontaine/{code}(code=${fontaine.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteFontaine/'+fontaine.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        <div class="tab-pane fade" id="etape4">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="nbRobinets" th:text="#{_nbRobinets}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nbRobinets" name="nbRobinets">
								</div>
								<div class="form-group">
									<label for="nbRobinetsFonctionnels" th:text="#{_nbRobinetsFonctionnels}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nbRobinetsFonctionnels" name="nbRobinetsFonctionnels">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="latitude" name="latitude">
								</div>
								<div class="form-group">
									<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="longitude" name="longitude">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeINS" th:text="#{_codeINS}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="codeINS" name="codeINS">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_prestation" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_prestation" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_analyse" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_nbRobinets}"></th>
											<th th:text="#{_nbRobinetsFonctionnels}"></th>
											<th th:text="#{_latitude}"></th>
											<th th:text="#{_longitude}"></th>
											<th th:text="#{_codeINS}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="abreuvoir : ${abreuvoirs}">
											<td th:text="${abreuvoir.nbRobinets}"></td>
											<td th:text="${abreuvoir.nbRobinetsFonctionnels}"></td>
											<td th:text="${abreuvoir.latitude}"></td>
											<td th:text="${abreuvoir.longitude}"></td>
											<td th:text="${abreuvoir.codeINS}"></td>
											<td align="center"> 
												<a th:href="@{/updateAbreuvoir/{code}(code=${abreuvoir.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteAbreuvoir/'+abreuvoir.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        <div class="tab-pane fade" id="etape5">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="lieu" th:text="#{_lieu}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="lieu1" name="lieu">
										<label for="lieu" th:text="#{_etablissementScolaire}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="2" id="lieu2" name="lieu" checked>
										<label for="lieu" th:text="#{_formationSanitaire}"> </label>
									</div>      
								</div>
								<div class="form-group">
									<label for="nomLieu" th:text="#{_nomLieu}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="nomLieu" name="nomLieu">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="latitude" name="latitude">
								</div>
								<div class="form-group">
									<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="longitude" name="longitude">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="codeINS" th:text="#{_codeINS}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="codeINS" name="codeINS">
								</div>
								<div class="form-group">
									<label for="compteurInstalle" th:text="#{_compteurInstalle}"> <span class="text-danger">*</span></label>
									<br/>
									<div class="radio radio-info form-check-inline">
										<input type="radio" value="1" id="compteurInstalle1" name="compteurInstalle">
										<label for="compteurInstalle" th:text="#{_oui}">  </label>
									</div>
									<div class="radio form-check-inline">
										<input type="radio" value="0" id="compteurInstalle2" name="compteurInstalle" checked>
										<label for="compteurInstalle" th:text="#{_non}"> </label>
									</div>      
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								
								<button id="btn_valide_prestation" class="btn btn-sm btn-success waves-effect">Valider</button>
				    			<button id="btn_reset_prestation" class="btn btn-sm btn-danger waves-effect">Annuler</button>
							</div>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_analyse" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_lieu}"></th>
											<th th:text="#{_nbRobinetsFonctionnels}"></th>
											<th th:text="#{_latitude}"></th>
											<th th:text="#{_longitude}"></th>
											<th th:text="#{_codeINS}"></th>
											<th th:text="#{_compteurInstalle}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="bp : ${bps}">
											<td th:text="${bp.lieu}"></td>
											<td th:text="${bp.nomLieu}"></td>
											<td th:text="${bp.latitude}"></td>
											<td th:text="${bp.longitude}"></td>
											<td th:text="${bp.codeINS}"></td>
											<td th:text="${bp.compteurInstalle}"></td>
											<td align="center"> 
												<a th:href="@{/updateBp/{code}(code=${bp.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteBp/'+bp.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        
			        <div class="tab-pane fade" id="etape6">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="longueur" th:text="#{_longueur}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="longueur" name="longueur">
								</div>
								<div class="form-group">
									<label for="diametre" th:text="#{_diametre}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="diametre" name="diametre">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="departLatitude" th:text="#{_departLatitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="departLatitude" name="departLatitude">
								</div>
								<div class="form-group">
									<label for="departLongitude" th:text="#{_departLongitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="departLongitude" name="departLongitude">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="finLatitude" th:text="#{_finLatitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="finLatitude" name="finLatitude">
								</div>
								<div class="form-group">
									<label for="finLongitude" th:text="#{_finLongitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="finLongitude" name="finLongitude">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								<div class="form-group">
									<label for="typeTuyauterie" th:text="#{_typeTuyauterie}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="typeTuyauterie" name="typeTuyauterie">
										<option value="">Choisir une option</option>
										<option th:each="typeTuyauterie : ${typeTuyauteries}" th:attr="value=${typeTuyauterie.code}"  th:text="${typeTuyauterie.libelle}"></option>
									</select>
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_reseau_distribution" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_reseau_distribution" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_prestation" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_longueur}"></th>
											<th th:text="#{_diametre}"></th>
											<th th:text="#{_departLatitude}"></th>
											<th th:text="#{_departLongitude}"></th>
											<th th:text="#{_finLatitude}"></th>
											<th th:text="#{_finLongitude}"></th>
											<th th:text="#{_typeTuyauterie}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="reseauDistribution : ${reseauDistributions}">
											<td th:text="${reseauDistribution.longueur}"></td>
											<td th:text="${reseauDistribution.diametre}"></td>
											<td th:text="${reseauDistribution.departLatitude}"></td>
											
											<td th:text="${reseauDistribution.departLongitude}"></td>
											<td th:text="${reseauDistribution.finLatitude}"></td>
											<td th:text="${reseauDistribution.finLongitude}"></td>
											<td th:text="${reseauDistribution.typeTuyauterie}"></td>
											<td align="center" > 
												<a th:href="@{/updateReseauDistribution/{code}(code=${reseauDistribution.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteReseauDistribution/'+reseauDistribution.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
			        
			        <div class="tab-pane fade" id="etape7">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-3">
								<div class="form-group">
									<label for="longueur" th:text="#{_longueur}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="longueur" name="longueur">
								</div>
								<div class="form-group">
									<label for="diametre" th:text="#{_diametre}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="diametre" name="diametre">
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="departLatitude" th:text="#{_departLatitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="departLatitude" name="departLatitude">
								</div>
								<div class="form-group">
									<label for="departLongitude" th:text="#{_departLongitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="departLongitude" name="departLongitude">
								</div>
								
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<label for="finLatitude" th:text="#{_finLatitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="finLatitude" name="finLatitude">
								</div>
								<div class="form-group">
									<label for="finLongitude" th:text="#{_finLongitude}"> <span class="text-danger">*</span></label>
									<input type="text"  class="form-control" id="finLongitude" name="finLongitude">
								</div>
							</div>
							<div class="col-lg-3" style="margin-top:30px">
								<div class="form-group">
									<label for="typeTuyauterie" th:text="#{_typeTuyauterie}"><span class="text-danger">*</span></label>
									<select class="form-control" data-live-search="true" id="typeTuyauterie" name="typeTuyauterie">
										<option value="">Choisir une option</option>
										<option th:each="typeTuyauterie : ${typeTuyauteries}" th:attr="value=${typeTuyauterie.code}"  th:text="${typeTuyauterie.libelle}"></option>
									</select>
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group text-right mb-0">
							<button id="btn_valide_reseau_distribution" class="btn btn-primary waves-effect waves-light mr-1" th:text="#{_valider}"></button>
							<button id="btn_reset_reseau_distribution" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
						</div>
						<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<table id="table_prestation" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_longueur}"></th>
											<th th:text="#{_diametre}"></th>
											<th th:text="#{_departLatitude}"></th>
											<th th:text="#{_departLongitude}"></th>
											<th th:text="#{_finLatitude}"></th>
											<th th:text="#{_finLongitude}"></th>
											<th th:text="#{_typeTuyauterie}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="reseauRefoulement : ${reseauRefoulements}">
											<td th:text="${reseauRefoulement.longueur}"></td>
											<td th:text="${reseauRefoulement.diametre}"></td>
											<td th:text="${reseauRefoulement.departLatitude}"></td>
											
											<td th:text="${reseauRefoulement.departLongitude}"></td>
											<td th:text="${reseauRefoulement.finLatitude}"></td>
											<td th:text="${reseauRefoulement.finLongitude}"></td>
											<td th:text="${reseauRefoulement.typeTuyauterie}"></td>
											<td align="center" > 
												<a th:href="@{/updateReseauRefoulement/{code}(code=${reseauRefoulement.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteReseauRefoulement/'+reseauRefoulement.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
			        </div>
		          	<div class="tab-pane fade" id="etape8">
			        	<div class="row" style= "border: solid 3px #e0e4e7;margin:15px;padding:10px">
							<div class="col-lg-12">
								<h5>EN COURS DE CONSTRUCTION</h5>
							</div>
						</div>
					</div>
			        
			        
			    </div>    
	            
	        </div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
		<script>
			$(document).ready(function () {
				$("#btn_valide_informations_generales").click(function(){
					numeroIRH = $('#etape1 #numeroIRH').val();
					anneeRealisation = $('#etape1 #anneeRealisation').val();
					codeTypeSystemeAEP = $('#etape1 #codeTypeSystemeAEP option:selected').val();
					codePropriete = $('#etape1 #codePropriete option:selected').val();
					codeFinancement = $('#etape1 #codeFinancement option:selected').val();
					codeProjet = $('#etape1 #codeProjet option:selected').val();
					codeLocalite = $('#etape1 #codeLocalite option:selected').val();
					etatOuvrage = $('#etape1 #etatOuvrage option:selected').val();
					sourceEnergieSolaire= $('#etape1 input[name=sourceEnergieSolaire]:checked').val();
					sourceEnergieThermique= $('#etape1 input[name=sourceEnergieThermique]:checked').val();
					sourceEnergieReseauElectrique= $('#etape1 input[name=sourceEnergieReseauElectrique]:checked').val();
					sourceEnergieEolienne= $('#etape1 input[name=sourceEnergieEolienne]:checked').val();
					sourceEnergieAutres= $('#etape1 input[name=sourceEnergieAutres]:checked').val();
					precisionEnergieAutres = $('#etape1 #precisionEnergieAutres').val();
					
					idAep = $('#idAep').val();
					if(true)
						{
							$.post('/aepInfosGenerales/'+idAep,{'numeroIRH':numeroIRH,'anneeRealisation':anneeRealisation,'codeTypeSystemeAEP':codeTypeSystemeAEP,'codePropriete':codePropriete,'codeFinancement':codeFinancement,'codeProjet':codeProjet,'codeLocalite':codeLocalite,'etatOuvrage':etatOuvrage,'sourceEnergieSolaire':sourceEnergieSolaire,'sourceEnergieThermique':sourceEnergieThermique,'sourceEnergieReseauElectrique':sourceEnergieReseauElectrique,'sourceEnergieEolienne':sourceEnergieEolienne,'sourceEnergieAutres':sourceEnergieAutres,'precisionEnergieAutres':precisionEnergieAutres},function(code){
								msg = '<div class="alert alert-icon alert-success text-success alert-dismissible fade show" role="alert">'
											+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
												+'<span aria-hidden="true">&times;</span>'
											+'</button>'
											+'<i class="mdi mdi-information"></i>'
									 		+'Opération effectuée avec succès'
									+'</div>';
								$('#operationStatus').html(msg);
								window.scrollTo({ top: 0, behavior: 'smooth' });
							});
						}

					
				});
			});
		</script>
	</div>
	
</body>
</html>