<section class="section section-xxl section-inset-1 bg-image"
        style="background-image: url(/publique/assets/images/bg-cta-1.jpg);">
        <div class="container box-cta">
                <h3 class="text-spacing-75 text-black-800 wow fadeScale"
                        style="visibility: visible; animation-name: fadeScale;">Statistiques sur les points d'eau </h3>
        </div>
</section>
<section class="section section-first">
        <div class="container">
                <h3> Filtres</h3>
                <div class="row">
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="region">Région</label>
                                        <select id="select_region" class="form-control">
                                                <option value="">Sélectionner la region</option>

                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="departement">Département</label>
                                        <select id="select_departement" class="form-control">
                                                <option value="">Sélectionner le département</option>
                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="commune">Commune</label>
                                        <select id="select_commune" class="form-control">
                                                <option value="">Sélectionner la commune</option>
                                        </select>
                                </div>
                        </div>
                        <div class="col-lg-3">
                                <div class="form-group">
                                        <label for="localite">Localité</label>
                                        <select id="select_localite" class="form-control">
                                                <option value="">Sélectionner la localité</option>
                                        </select>
                                </div>
                        </div>

                        <div class="col text-center">
                                <button class="button button-lg button-primary"> Filtrer</button>
                        </div>
                </div>
        </div>
</section>

<section class="section mt-3 ">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <table id="tab"
                                                                class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                                role="grid" aria-describedby="tab_info">
                                                                <thead>
                                                                        <tr role="row">
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting_asc" tabindex="0"
                                                                                        aria-controls="tab" rowspan="3"
                                                                                        colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">
                                                                                        Region</th>
                                                                                <th colspan="19"><b>Milieu rural et
                                                                                                semi-urbain</b></th>
                                                                                <th style="vertical-align: middle;"
                                                                                        class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="2"
                                                                                        colspan="3"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        <b>Mileu urbain</b>
                                                                                </th>
                                                                        </tr>
                                                                        <tr role="row">
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        PC</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        FPMH</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Etat actuel: activer pour trier la colonne par ordre croissant">
                                                                                        Mini AEP</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        PEA</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="2"
                                                                                        aria-label="Longitude: activer pour trier la colonne par ordre croissant">
                                                                                        SPP</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="3"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Equivalent PEM</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="3"
                                                                                        aria-label="Longitude: activer pour trier la colonne par ordre croissant">
                                                                                        Population</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="3"
                                                                                        aria-label="Latitude: activer pour trier la colonne par ordre croissant">
                                                                                        Indicateurs</th>
                                                                        </tr>
                                                                        <tr role="row">
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        NB_tot</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        En panne</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        NB_tot</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        En panne</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        NB_tot robinets</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        En panne</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        NB_tot robinets</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        En panne</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Type ouvrage: activer pour trier la colonne par ordre croissant">
                                                                                        NB_tot robinets</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                        aria-controls="tab" rowspan="1"
                                                                                        colspan="1"
                                                                                        aria-label="Date mise en service: activer pour trier la colonne par ordre croissant">
                                                                                        En panne</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        PEM Existants</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        PEM Fonctionnels</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        PEM en panne</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                                <th class="sorting_disabled" rowspan="1"
                                                                                        colspan="1" aria-label="Action">
                                                                                        Action</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr class="">

                                                                        </tr>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>