<header th:fragment="header" class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap" style="">
                <nav class="rd-navbar rd-navbar-modern rd-navbar-original rd-navbar-static"
                        data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
                        data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                        data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
                        data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
                        data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px"
                        data-xl-stick-up-offset="120px" data-xxl-stick-up-offset="140px" data-lg-stick-up="true"
                        data-xl-stick-up="true" data-xxl-stick-up="true">
                        <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original"
                                data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                        <div class="rd-navbar-aside-outer">
                                <div class="rd-navbar-aside">
                                        <div class="rd-navbar-collapse toggle-original-elements">
                                                <div class="contacts-ruth">
                                                        <div class="unit unit-spacing-xs-2 align-items-center">
                                                                <div class="unit-left"><span
                                                                                class="icon linearicons-map-marker"></span>
                                                                </div>
                                                                <div class="unit-body">
                                                                        <a href="#">Système d'Information National
                                                                                <br>sur l'Eau et l'Assainissement</a>
                                                                </div>
                                                        </div>
                                                </div><a class="button button-sm button-icon button-icon-left button-default-outline-3 button-zakaria"
                                                        href="/login"><span class="icon mdi mdi-email-outline"></span>
                                                        Se connecter</a>

                                        </div>
                                        <!-- RD Navbar Panel-->
                                        <div class="rd-navbar-panel">
                                                <!-- RD Navbar Toggle-->
                                                <button class="rd-navbar-toggle toggle-original"
                                                        data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                                <!-- RD Navbar Brand-->
                                                <div class="rd-navbar-brand">
                                                        <a class="brand" href="">
                                                                <img class="brand-logo-dark logo"
                                                                        src="/publique/assets/images/logo-bleu-transparent.png"
                                                                        alt="" width="231" height="49"
                                                                        srcset="/publique/assets/images/logo-bleu-transparent.png 2x">

                                                        </a>
                                                </div>
                                        </div>
                                        <div class="rd-navbar-button"><a
                                                        class="button button-sm button-icon button-icon-left button-default-outline-3 button-zakaria"
                                                        href="/login"><span class="icon mdi mdi-email-outline"></span>Se
                                                        connecter</a></div>
                                </div>
                        </div>
                        <div class="rd-navbar-main-outer">
                                <div class="rd-navbar-main">
                                        <div class="rd-navbar-nav-wrap toggle-original-elements">
                                                <!-- RD Navbar Nav-->
                                                <ul class="rd-navbar-nav">
                                                        <li class="rd-nav-item active"><a class="rd-nav-link"
                                                                        href="publique">ACCUEIL</a>
                                                        </li>
                                                        <li
                                                                class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                                <a class="rd-nav-link" href="">Statistiques </a><span
                                                                        class="rd-navbar-submenu-toggle"></span>
                                                                <!-- RD Navbar Dropdown-->
                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/stats/point_eau">Points
                                                                                        d'eau</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/stats/hygienne_assainissement">Hygiène
                                                                                        et assainissement</a></li>
                                                                </ul>
                                                        </li>
                                                        <li
                                                                class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                                <a class="rd-nav-link" href="">Programmations </a><span
                                                                        class="rd-navbar-submenu-toggle"></span>
                                                                <!-- RD Navbar Dropdown-->
                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/programmation/p_ouvrages_hydrauliques">Ouvrages
                                                                                        hydrauliques</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/programmation/p_latrine_institut">Latrines
                                                                                        institutionnelles</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/programmation/p_atpc"
                                                                                        title="Assainissement Total Piloté par les Communautés">ATPC</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li
                                                                class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                                <a class="rd-nav-link" href="">Bilans annuels</a><span
                                                                        class="rd-navbar-submenu-toggle"></span>
                                                                <!-- RD Navbar Dropdown-->
                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/bilans/b_ouvrages_hydrauliques">Ouvrages
                                                                                        hydrauliques</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/bilans/b_latrine_institut">Latrines
                                                                                        institutionnelles</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/bilans/b_atpc"
                                                                                        title="Assainissement Total Piloté par les Communautés">ATPC</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li
                                                                class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                                <a class="rd-nav-link" href="">Indicateurs</a><span
                                                                        class="rd-navbar-submenu-toggle"></span>
                                                                <!-- RD Navbar Dropdown-->
                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/indicateurs/tableau_suivi">Tableau
                                                                                        de suivi</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/indicateurs/graphique">Graphiques</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li
                                                                class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                                <a class="rd-nav-link" href="">Marchés</a><span
                                                                        class="rd-navbar-submenu-toggle"></span>
                                                                <!-- RD Navbar Dropdown-->
                                                                <ul class="rd-menu rd-navbar-dropdown">
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/marches/plan_passation">Plan
                                                                                        de Passation</a></li>
                                                                        <li class="rd-dropdown-item"><a
                                                                                        class="rd-dropdown-link"
                                                                                        href="/publique/marches/Appel_offre">Appels
                                                                                        d'offre</a></li>
                                                                </ul>
                                                        </li>
                                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                        href="publique/cartographies"> Cartographie </a>
                                                        </li>
                                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                        href="publique/documentations">
                                                                        Documentations</a> </li>


                                                </ul>
                                        </div>

                                </div>
                        </div>
                </nav>
        </div>
</header>