<section class="section section-xxl section-inset-1 bg-image" style="background-image: url(/publique/assets/images/bg-cta-1.jpg);">
	<div class="container box-cta">
	  <h3 class="text-spacing-75 text-black-800 wow fadeScale" style="visibility: visible; animation-name: fadeScale;"> Programmation des ouvrages hydrauliques </h3>
	</div>
</section>

<div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1"  >
    <!-- Nav tabs-->
    <div class="nav-tabs-wrap tabs col-sm-8" style="margin-left:300px;" >
        <ul class="nav nav-tabs col-sm-12" >
            <li  class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">FORAGE</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">SPP</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">AEP</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab">SPEN</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade" id="tabs-1-1">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12">
                        <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tab" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"  role="grid" aria-describedby="tab_info">
                                        <thead style="float:left">
                                            <tr role="row">
                                                <th style="vertical-align: middle;" class="sorting_asc" tabindex="0" aria-controls="tab" rowspan="2" colspan="1"  aria-sort="ascending" aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">Intervenant</th>
                                                <th style="vertical-align: middle;"colspan=""><b>Région</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Année programmation</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Localité (INS)</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Type de travaux</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Type aménagement forage</b></th>
                                                <th style="vertical-align: middle;"  colspan=""><b>N° IRH</b></th>
                                                <th  style="vertical-align: middle;" colspan=""><b>Population</b></th>
                                                <th  style="vertical-align: middle;" colspan=""><b>Financement</b></th>
                                                <th colspan=""><b>Coût forages</b></th>
                                                <th colspan=""><b>Coût Etudes et contrôle</b></th>
                                                <th colspan=""><b>Coût travaux et équipements</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Coûts total</b></th>
                                                <th colspan=""><b>Date de démarrage prévu</b></th>
                                                <th colspan=""><b>Durée des travaux (mois)</b></th>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>

        </div>
        <div class="tab-pane fade active show" id="tabs-1-2">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12">
                        <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tab" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"  role="grid" aria-describedby="tab_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="vertical-align: middle;" class="sorting_asc" tabindex="0" aria-controls="tab" rowspan="2" colspan="1"  aria-sort="ascending" aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">Intervenant</th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Region</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Commune</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Intervenant</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Année de programmation</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Type de travaux</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Nom SPP</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Nb. Abvreuvoirs</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Population</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Financement</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Coût forages</b></th>
                                                <th style="vertical-align: middle;"  colspan="8"><b>Coût Etudes et contrôle</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Coût travaux et Equipements</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Coût total</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Date de démarrage prévu</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Durée des travaux (mois)</b></th>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>

        </div>
        <div class="tab-pane fade" id="tabs-1-3">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12">
                        <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tab" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"  role="grid" aria-describedby="tab_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="vertical-align: middle;" class="sorting_asc" tabindex="0" aria-controls="tab" rowspan="2" colspan="1"  aria-sort="ascending" aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">Intervenant</th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Commune</b></th>
                                                <th style="vertical-align: middle;" colspan="8"><b>Nom AEP</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Type de travaux</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Type système AEP</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Pop à desservir</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Nb. BF</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Nb. BP Ecole</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Nb. BP Santé</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Financement</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Coût forages</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Coût Etudes et contrôle</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Coût travaux et équipements</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Coûts total</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Date de démarrage prévu</b></th>
                                                <th style="vertical-align: middle;"colspan="8"><b>Durée des travaux (mois)</b></th>

                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>

        </div>


        <div class="tab-pane fade" id="tabs-1-4">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12">
                        <div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-14">
                                    <table id="tab" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"  role="grid" aria-describedby="tab_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="vertical-align: middle;" class="sorting_asc" tabindex="0" aria-controls="tab" rowspan="2" colspan="1"  aria-sort="ascending" aria-label="Nom ouvrage: activer pour trier la colonne par ordre décroissant">Intervenant</th>
                                                <th style="vertical-align: middle;" colspan=""><b>Centre SPEN</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Année programmation</b></th>
                                                <th style="vertical-align: middle;" colspan=""><b>Catégorie</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Branchements sociaux (u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Bornes fontaines publiques(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Conduites de distribution(km)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Conduites d'adduction(km)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Station de traitement d'eau(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Unité de traitement d'eau(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Réservoirs Capacité (m3)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Forages(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Coûts des réalisations en millions de FCFA</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Réhabilitation Réservoirs(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Réhabilitation Forages(u)</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Coûts des réhabilitations en millions de FCFA</b></th>
                                                <th style="vertical-align: middle;" colspan="1"><b>Financement des réhabilitation</b></th>
                                        </thead>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>