<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs tabs-bordered">
					<li class="nav-item">
						<a href="#tab_form" data-toggle="tab" aria-expanded="false" class="nav-link active" th:text="#{_ajouter}"></a>
					</li>
					<li class="nav-item">
						<a href="#tab_list" data-toggle="tab" aria-expanded="true" class="nav-link" th:text="#{_afficher}"></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_form">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_utilisateur}"></h5>
							</div>
							<div class="card-body">
								<form  class="form-validation" th:object="${userForm}" method="post">
									<div class="form-group">
										<label for="nom" th:text="#{_nom}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{nom}" required class="form-control" th:classappend="${#fields.hasErrors('nom')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></small>
									</div>
									<div class="form-group">
										<label for="prenom" th:text="#{_prenom}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{prenom}" required class="form-control" th:classappend="${#fields.hasErrors('prenom')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></small>
									</div>
									<div class="form-group">
										<label for="login" th:text="#{_login}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{login}" required class="form-control" th:classappend="${#fields.hasErrors('login')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></small>
									</div>
									<div class="form-group">
										<label for="motPasse" th:text="#{_motPasse}"> <span class="text-danger">*</span></label>
										<input type="text" th:field="*{motPasse}" required class="form-control" th:classappend="${#fields.hasErrors('motPasse')} ? 'border-danger'">
										<small class="text-danger" th:if="${#fields.hasErrors('motPasse')}" th:errors="*{motPasse}"></small>
									</div>
									
									<div class="form-group">
										<label for="roles" th:text="#{_profils}"><span class="text-danger">*</span></label>
										<select class="form-control" data-live-search="true" multiple="multiple" th:field="*{roles}">
											
											<option th:each="role : ${roles}" th:attr="value=${role.code}"  th:text="${role.libelle}"></option>
										</select>
									</div>
									
									<div class="form-group text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_list">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<b class="font-16" th:text="#{_listeUtilisateurs}"></b>
								
							</div>
							<div class="card-body">
								 <table id="table_utilisateur" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_nom}"></th>
											<th th:text="#{_prenom}"></th>
											<th th:text="#{_login}"></th>
											<th th:text="#{_profils}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="user : ${users}">
											<td th:text="${user.nom}"></td>
											<td th:text="${user.prenom}"></td>
											<td th:text="${user.login}"></td>
											<td>
												<ul th:each="role : ${user.roles}">
													<li th:text="${role.libelle}"></li>
												</ul>
											</td>
											<td align="center" > 
												<a th:href="@{/updateUser/{code}(code=${user.code})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteUser/'+user.code}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
	</div>
</body>
</html>