<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<div class="col-lg-12">
				<div th:if = "${operationStatus}"> 
					<div th:replace="${operationStatus} :: operationStatus"> </div>
				</div>
				<ul class="nav nav-tabs tabs-bordered">
					<li class="nav-item">
						<a href="#tab_form" data-toggle="tab" aria-expanded="false" class="nav-link active" th:text="#{_modifier}"></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_form">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_etablissementScolaire}"></h5>
							</div>
							<div class="card-body">
								<form  class="form-validation" th:object="${etablissementScolaireForm}" method="post">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="denomination" th:text="#{_denomination}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{denomination}" required class="form-control" th:classappend="${#fields.hasErrors('denomination')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('denomination')}" th:errors="*{denomination}"></small>
											</div>
											<div class="form-group">
												<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{latitude}" required class="form-control" th:classappend="${#fields.hasErrors('latitude')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></small>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{longitude}" required class="form-control" th:classappend="${#fields.hasErrors('longitude')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></small>
											</div>
											<div class="form-group">
												<label for="anneeCreation" th:text="#{_anneeCreation}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{anneeCreation}" required class="form-control" th:classappend="${#fields.hasErrors('anneeCreation')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('anneeCreation')}" th:errors="*{anneeCreation}"></small>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="codeTypeEtablissementScolaire" th:text="#{_typeEtablissementScolaire}"><span class="text-danger">*</span></label>
												<select class="form-control" data-live-search="true" th:field="*{codeTypeEtablissementScolaire}">
													<option value="">Choisir une option</option>
													<option th:each="typeEtablissementScolaire : ${typeEtablissementScolaires}" th:attr="value=${typeEtablissementScolaire.code}"  th:text="${typeEtablissementScolaire.libelle}"></option>
												</select>
											</div>
											<div class="form-group">
												<label for="codeZone" th:text="#{_localite}"><span class="text-danger">*</span></label>
												<select class="form-control" data-live-search="true" th:field="*{codeZone}">
													
													<option th:each="localite : ${localites}" th:attr="value=${localite.codeZone}"  th:text="${localite.libelle}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group8 text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>