<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div th:fragment="deleteConfirmationBox"> 
		<div id="deleteConfirmation" class="modal fade" tabindex="-1">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:text="#{_confirmation}"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p th:text="#{_confirmerSuppression}"></p>
		      </div>
		      <div class="modal-footer">
		        <a  id ="deleteYes" class="btn btn-primary" th:text="#{_oui}"> </a>
		        <a href="#" class="btn btn-danger" data-dismiss="modal"  th:text="#{_non}"> </a>
		      </div>
		    </div>   
		  </div>
		</div>
	</div>
</body>
</html>
