<div th:fragment="pageContent">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header titre-page">
					<h2>Enregistrement marché</h2>
					<span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<form class="form-material">
				<div class="card">
					<div class="card-header">
						<h5>Informations générales</h5>
					</div>
					<div class="card-body">
						<div class="row pt-3">
							<div class="col-md-4 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="date" placeholder=" " class="form-control" required=""
										id="anneeMarcherPublique">
									<span class="form-bar"></span>
									<label for="anneeMarcherPublique" class="float-label">Année du marché
										publique</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="text" placeholder=" " class="form-control" required="" id="objet">
									<span class="form-bar"></span>
									<label for="objet" class="float-label">Objet du marché</label>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="number" placeholder=" " class="form-control" required=""
										id="coutPrevisionnel">
									<span class="form-bar"></span>
									<label for="coutPrevisionnel" class="float-label">Coût prévisionnel</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<select class="form-control" id="">
										<option> Sélectionnez </option>
										<option th:each="typeMarchess : ${typeMarchess}"
											th:attr="value=${typeMarchess.code}" th:text="${typeMarchess.libelle}">
										</option>
									</select>
									<span class="form-bar"></span>
									<label class="float-label" for="modePassation">Type du marché</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<select class="form-control" id="">
										<option> Sélectionnez </option>
										<option th:each="modePassation : ${modePassations}"
											th:attr="value=${modePassation.code}" th:text="${modePassation.libelle}">
										</option>
									</select>
									<span class="form-bar"></span>
									<label class="float-label" for="modePassation">Mode de passation</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<select class="form-control" id="">
										<option> Sélectionnez </option>
										<option th:each="sourceFinancement : ${sourceFinancements}"
											th:attr="value=${sourceFinancement.code}"
											th:text="${sourceFinancement.libelle}">
										</option>
									</select>
									<span class="form-bar"></span>
									<label class="float-label" for="modePassation">Source du financement</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<select class="form-control" id="">
										<option> Sélectionnez </option>
										<option th:each="intervenant : ${intervenants}"
											th:attr="value=${intervenant.code}" th:text="${intervenant.denomination}">
										</option>
									</select>
									<span class="form-bar"></span>
									<label class="float-label" for="intervenant">L'intervenant</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="date" placeholder=" " class="form-control" required=""
										id="dateLancementProcedure">
									<span class="form-bar"></span>
									<label for="dateLancementProcedure" class="float-label">Date de lancement de la
										procédure</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="date" placeholder=" " class="form-control" required=""
										id="dateAttributionContrat">
									<span class="form-bar"></span>
									<label for="dateAttributionContrat" class="float-label">Date d'attribution du
										contrat</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="date" placeholder=" " class="form-control" required=""
										id="dateDemarragePrestation">
									<span class="form-bar"></span>
									<label for="dateDemarragePrestation" class="float-label">Date du démarrage des
										préstations</label>
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group form-default form-static-label">
									<input type="date" placeholder=" " class="form-control" required=""
										id="dateAchevementPrestation">
									<span class="form-bar"></span>
									<label for="dateAchevementPrestation" class="float-label">Date d'achèvement des
										préstations</label>
								</div>
							</div>
						</div>
						<div class="row m-4">
							<div class="col-sm-12 pull-right">
								<button type="submit" class="btn btn-primary m-b-0" id="btn_ajout_marches"> <i
										class="fa fa-save"></i>
									Enregistrer </button>
								<button type="submit" class="btn btn-danger m-b-0"> <i class="fa fa-save"></i> Annuler
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row" style="border: solid 3px #e0e4e7;margin:15px;padding:10px">
		<div class="col-lg-12">
			<table id="tab" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
				<thead>
					<tr>
						<th>Année</th>
						<th style="width:10%">Objet marché</th>
						<th style="width:10%">Coût du marché</th>
						<th style="width:10%">Date lancement</th>
						<th style="width:10%">Date d'attribution</th>
						<th style="width:10%">Date démarrage</th>
						<th style="width:10%">Date d'achèvement</th>
						<th style="width:10%">Type marché</th>
						<th style="width:10%">Mode passation</th>
						<th style="width:10%">Source finance...</th>
						<th style="width:10%">Intervenant</th>
						<th style="width:15%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="marches : ${marchess}">
						<td th:text="${marches.anneeMarcherPublique}"></td>
						<td th:text="${marches.objet}"></td>
						<td th:text="${marches.coutPrevisionnel}"></td>
						<td th:text="${marches.dateLancementProcedure}"></td>
						<td th:text="${marches.dateAttributionContrat}"></td>
						<td th:text="${marches.dateDemarragePrestation}"></td>
						<td th:text="${marches.dateAchevementPrestation}"></td>
						<td align="center">
							<a th:href="@{/{lien}(lien=${marches.lien})}"
								class="btn btn-sm btn-primary waves-effect"><span th:text="#{_atteindre}"></span></a>

						</td>


					</tr>
				</tbody>
			</table>
		</div>
	</div>


</div>

<script>
	$(document).ready(function () {

		$("#btn_ajout_marches").click(function () {
			alert("bonjour");
			anneeMarchesPublique = $("#anneeMarchesPublique").val();
			objet = $("#objet").val();
			coutPrevisionnel = $("#coutPrevisionnel").val();
			dateLancementProcedure = $("#dateLancementProcedure").val();
			dateAttributionContrat = $("#dateAttributionContrat").val();
			dateDemarragePrestation = $("#dateDemarragePrestation").val();
			dateAchevementPrestation = $("#dateAchevementPrestation").val();

			$.post('/addMarches', {
				"anneeMarchesPublique": anneeMarchesPublique,
				"objet": objet,
				"coutPrevisionnel": coutPrevisionnel,
				"dateLancementProcedure": dateLancementProcedure,
				"dateAttributionContrat": dateAttributionContrat,
				"dateDemarragePrestation": dateDemarragePrestation,
				"dateAchevementPrestation": dateAchevementPrestation
			}, function (code) {
				alert(code);
				//window.location.replace("/marches/" + code);
			});

		});


	});
</script>